@model COVID19.Models.NewPersonBriefDto

@{
    ViewBag.Title = "Brief";
}

<h2>Brief</h2>

<div>
    <h4>NewPersonBriefDto</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
